@media (min-width: 610px) {
  .img-logo, .icono-aplicaciones, .icono-list {
    display:flex;
  }
  .container-input {
    display: flex;
  }
  .icono-buscador {
    display: none;
  }
  .card-notes {
    width: 223px;
  }
  .input-mainarea {
    width:70%;
  }
  .body-container {
    grid-template-rows: 65px 1fr;
    grid-template-columns:30% 1fr;
    grid-template-areas: "header header"
                          "sidemenu mainarea";
    
  }
  .mainarea {
    grid-area:mainarea;
  }
  .sidemenu {
    grid-area: sidemenu;
    display: flex;
  }
  .header {
    grid-area:header;
  }
  

}

