html, body {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 65px 1fr;
    grid-template-areas: "header-1 header-1 header-1"
                         "sidemenu mainarea mainarea";
} 
.container-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 45px;
    padding: 8px;

}
.container .header-1 {
  display: flex;
  align-items: center;
  background-color: #202124;
  grid-area: header-1;
  width: 100%;
  padding-top: 4px;
  padding-bottom: 4px;
  border-bottom:solid 0.5px #B4AEAD ;
  width:100%;
}

.group1-header {
    display: flex;
    width: 230px;
    min-width: 230px;
    padding-right: 30px;

}
.group2-header {
    /*display:flex;
    justify-content: flex-start;*/
    background-color:rgba(241,243,244,0.24);
    padding-left: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 100%;
}
.group3-header {
    display:flex;
    padding-right: 15px;
}
.container-input {
    display: flex;
    justify-content: center;
    align-self: center;
    /*background-color:rgba(241,243,244,0.24);*/
    background-color: white;
    border-radius: 10px;
    border: none;
    padding: 0 4px 0 4px;
    width: 720px;
    max-width: 720px;
    height: 50px;;
}

.icono-menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    padding-right: 10px;
    padding-left: 10px;
}
.img-logo {
    width: 40px;
    height: 40px;
    padding-right: 4px;
}
.icono-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo-keep {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.87);
    font-size: 22px;
    cursor: pointer;
    padding-right: 4px;
    padding-left: 4px;
}
.keep-name {
    padding-left: 4px;
}
.icono-buscador {
    display:flex;
    align-self: center;;    
    width: 24px;
    height: 24px; 
    color:white;
    padding: 8px;
    margin: 3px;
    cursor: pointer;

}
.icono-buscador-input {
    display: flex;
    justify-content: stretch;
    height: 100%;
    /*width: 100%;*/
    padding-left: 10px;
}
.icono-buscador-input1 {
    display: flex;
    justify-content: center;
    align-self: center;
}
.icono-refresh {
    display:flex; 
    align-self: center;;
    width: 24px;
    height: 24px; 
    color: rgba(255,255,255,0.87);
    padding: 5px;
    margin: 3px;
    cursor: pointer;

}
.icono-settings {
    display: flex;
    align-self: center;
    color: rgba(255,255,255,0.87);
    padding: 5px;
    margin: 3px;
    cursor: pointer;
}
.icono-list {
    display: flex;
    align-self: center;
    color: rgba(255,255,255,0.87);
    padding: 5px;
    margin: 3px;
    cursor: pointer;
}
.icono-aplicaciones {
    display:flex;
    align-self: center;
    color: rgba(255,255,255,0.87);
    padding:5px;
    padding-left: 30px;
    margin: 3px;
    cursor: pointer;
}
.icono-cuenta {
    display: flex;
    align-self: center;
    color: rgba(255,255,255,0.87);
    padding: 5px;
    margin: 3px;
    cursor:pointer;
}

.cuenta_icono {
    font-size: 40px;
}

.input-header {
    display: flex;
    align-self: center;
}
.input-circle {
    width: 100%;
    height: 25px;
    font-size: 16px;
    border: none;
    font-family: normal 'Roboto', sans-serif;
    outline: none;
}

.container .sidemenu {
    background: #202124;
    grid-area: sidemenu;

  }
  
.container .mainarea {
    background:#202124;
    grid-area:mainarea;
  }

  .container-notes {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;
  }
  .container-notes .card-notes {
      background-color: white;
      width: 200px;
      height: 200px;
  }